body {
}

.custome-style-one {
    background-image: url('../img/bg-img/bg1.jpg') !important;
}
.custome-style-two {
    background-image: url('../img/bg-img/bg6.jpg') !important;
}
.custome-style-three {
    background-image: url('../img/bg-img/bg7.jpg') !important;
}
