@model First_Project.Models.Profile

@{
    
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Create</h1>

<h4>Profile</h4>
<hr />

<div class="row">
    <div class="col-md-6">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="UserId" class="control-label">User</label>
                <select asp-for="UserId" class="form-control" required asp-items="ViewBag.Users">
                    <option value="" selected>Please select</option>
                </select>
            </div>

            <div class="form-group">
                <label asp-for="ImageFile" class="control-label">Image</label>
                <input asp-for="ImageFile" type="file" class="form-control-file" required />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Bio" class="control-label">Bio</label>
                <input asp-for="Bio" class="form-control"  required/>
                <span asp-validation-for="Bio" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="CreationDate" class="control-label">Creation Date</label>
                <input asp-for="CreationDate" class="form-control" required />
                <span asp-validation-for="CreationDate" class="text-danger"></span>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-primary">Create</button>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
